<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head') %>
    <body>
        <%- include ('./partials/header') %>
            <main class="contenedor">
                <section class="main-container">
                    <div class="product-img">
                        <img src="/img/products/<%=product.image%> " alt="product-image">
                        <p class="price">
                            <%= product.price %>
                        </p>
                    </div>
                    <div class="product-description ">
                        <h4 class="product-model">
                            <%= product.name %>
                        </h4>
                    </div>
                    <div>
                        <button type="submit" class="boton-enviar">
                            <li><a href="/productCart"><b>Agregar al carrito </b></a>
                        </button>
                    </div>
                    <div class="detalle-producto">
                        <article>
                            <h3>Detalles del producto</h3>
                            <p class="fuentedetail">
                                <%= product.descripcion %>
                            </p>
                            <p>
                                <%= product.Color %>
                            </p>
                    <% if (locals.isLogged) {%>        
                        <button type="submit" class="boton-enviar">    
                            <a href="/products/edit/<%= product.id %>" class="action-button edit">Editar producto</a>
                        </button>
                        
                        <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="boton-enviar" class="action-button delete">Eliminar Producto</button>	
						</form>
                    <% } %>
                        </article>
                    </div>
                </section>
            </main>
            <%- include ('./partials/footer') %>
    </body>

</html>