<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/head') %> 
<body>

    <%- include ('./partials/header') %>
    <main>
        <div class="saludo-login"> 
            <h4 class="hola-login">Modificar <%= product.name %></h4><h4 class="punto-amarillo">.</h4>
        </div>  
        <form action="/products/edit/<%= product.id %>?_method=PATCH" method="POST">
            <div class="registro">
                <div>
                    <label for="category" class="form-label">Categoría:</label>
                    <select name="category" id="category" class="form-input">
                        <option value="">Elegí</option>
                        <option value="nuevo">Nuevo</option>
                        <option value="retro">Retro</option>
                    </select>
                </div>
                <div>
                    <input type="file" name="image" id="image" class="espacio-reg">
                </div>
                <div>   
                    <input type="text" name="name" id="name" value="<%= product.name %>" required class="espacio-reg"> 
                </div> 
                <div>
                    <input type="text" name="descripcion" id="descripcion" value="<%= product.descripcion %>" required class="espacio-reg">
                </div>
                <div>
                    <input type="color" name="color" id="color" value="<%= product.color %>" required class="espacio-reg">
                </div>
                <div>
                    <input type="text" name="price" id="price" value="<%= product.price %>" required class="espacio-reg">
                </div>
                <div>
                    <button type="submit">Guardar</button>
                </div>
                <div>
                    <button type="reset" name="eliminar" id="eliminar">Borrar Datos</button>
                </div>
            </div>    
        </form>   
    
    </main>

    <%- include ('./partials/footer') %>
</body>
</html>