<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/head') %> 
<body>
<%- include ('./partials/header') %>
<main class="contenedor">
    <section class="modify_section">
        <img class="product_img" src="/img/products/<%= product.Image[0].image %>" alt="product-image">
        <div class="product_info">
            <div class="tittle"> 
                <h4 class="tittle_modify">Modificar <%=product.name%><span class="punto-amarillo">.</span></h4>
            </div>
            <form id="formEdit" class="form_modify" action="/products/edit/<%= product.id %>?_method=PATCH" method="POST" enctype="multipart/form-data">
                <div id="divProductName" class="form_divs">
                    <label for="name" class="form-label">Nombre:</label>   
                    <input class="input_slot" type="text" name="name" id="name" value="<%= product.name %>">
                    <div id="errorProductName" class="error-text"></div>
                    <% if (locals.errors && errors.name) { %>
                        <div class="error-text error-back">
                            <%= errors.name.msg %>
                        </div>
                    <% } %> 
                </div> 
                <div id="divProductDescription" class="form_divs">
                    <label for="description" class="form-label">Descipción:</label>
                    <textarea class="text_area input_slot" name="description" id="description" class="form-input"><%= product.description %></textarea>
                    <div id="errorProductDescription" class="error-text"></div>
                    <% if (locals.errors && errors.description) { %>
                        <div class="error-text error-back">
                            <%= errors.description.msg %>
                        </div>
                    <% } %>
                </div>
                <div >
                    <label for="image" class="form-label">Fotografia:</label>
                    <input class="image-reg" type="file" name="image" id="imageEdit" multiple="multiple">
                    <% if (locals.errors && errors.image) { %>
                        <div class="error-text error-back">
                            <%= errors.image.msg %>
                        </div>
                    <% } %>
                </div>
                <div class="form_divs double_slot">
                    <div class="div-select">
                        <label for="category" class="form-label">Categoría:</label>
                        <select class="form-select" name="category" id="category" class="form-input">
                            <option value="<%= product.category_id %>"><%= product.Category.category %></option>
                            <option value="<%= product.category_id === 1 ? 2 : 1 %>"><%= product.Category.category === 'Nuevo' ? 'Retro' : 'Nuevo' %></option>
                            <div id="errorProductCategory" class="error-text"></div>
                        </select>
                    </div>
                    <div class="form-image">
                        <label for="sizes" class="form-label">Tallas:</label>
                        <div class="div-checkbox">
                            <div class="size_checkbox">
                                <input class="size__detail" <%= product.Product_Size[0] != undefined && (product.Product_Size[0].size != undefined) ? 'checked' : null  %> type="checkbox" id="1" name="size" value="1"> <p class="size__number"> 8 </p>
                            </div>
                            <div class="size_checkbox">
                                <input class="size__detail" <%= product.Product_Size[1] != undefined && (product.Product_Size[1].size != undefined) ? 'checked' : null  %> type="checkbox" id="2" name="size" value="2"> <p class="size__number"> 9 </p>
                            </div>
                            <div class="size_checkbox">
                                <input class="size__detail" <%= product.Product_Size[2] != undefined && (product.Product_Size[2].size != undefined) ? 'checked' : null  %> type="checkbox" id="3" name="size" value="3"> <p class="size__number"> 10 </p>
                            </div>
                            <div class="size_checkbox">    
                                <input class="size__detail" <%= product.Product_Size[3] != undefined && (product.Product_Size[3].size != undefined) ? 'checked' : null  %> type="checkbox" id="4" name="size" value="4"> <p class="size__number"> 11 </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_divs double_slot">                        
                    <div id="divProductStock" class="form_divs div-select">
                        <label for="stock" class="form-label">Stock:</label>   
                        <input class="input_slot" type="text" name="stock" id="stock" value="<%= product.stock %>">
                        <div id="errorProductStock" class="error-text"></div>
                        <% if (locals.errors && errors.stock) { %>
                            <div class="error-text error-back">
                                <%= errors.stock.msg %>
                            </div>
                        <% } %>
                    </div>
                    <div id="divProductPrice" class="slot price_slot">
                        <label for="price" class="form-label">Precio:</label>
                        <input class="input_slot" type="text" name="price" id="price" value="<%= product.price %>">
                        <div id="errorProductPrice" class="error-text"></div>
                        <% if (locals.errors && errors.price) { %>
                            <div class="error-text">
                                <%= errors.price.msg %>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="buttons buttons_edit">
                    <div>
                        <button class="default_button" type="submit">Guardar</button>
                    </div>
                    <div>
                        <button class="default_button reset_button" type="reset" name="eliminar" id="eliminar">Revertir</button>
                    </div>
                </div>    
            </form>
        </div>
    </section>  
</main>
<%- include ('./partials/footer') %>
<script src="/js/functions.js"></script>
<script src="/js/edit.js"></script>
</body>
</html>