<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/head') %> 
<body>
<%- include ('./partials/header') %>
<main class="contenedor">
    <section class="modify_section">
        <img class="product_img" src="/img/products/<%= product.Product_Image[0].image %> " alt="product-image">
        <div class="product_info">
            <div class="tittle"> 
                <h4 class="tittle_modify">Modificar <%=product.name%><span class="punto-amarillo">.</span></h4>
            </div>
            <form class="form_modify" action="/products/edit/<%= product.id %>?_method=PATCH" method="POST" enctype="multipart/form-data">
                <div class="form_divs">
                    <label for="name" class="form-label">Nombre:</label>   
                    <input class="input_slot" type="text" name="name" id="name" value="<%= product.name %>" required> 
                </div> 
                <div class="form_divs">
                    <label for="description" class="form-label">Descipción:</label>
                    <textarea class="text_area input_slot" name="description" id="description" class="form-input"><%= product.description %></textarea>
                </div>

                <div class="form-image">
                    <label for="image" class="form-label">Fotografia:</label>
                    <input class="image-reg" type="file" name="image" id="image">
                </div>
                <div class="form_divs double_slot">
                    <div class="div-select">
                        <label for="category" class="form-label">Categoría:</label>
                        <select class="form-select" name="category" id="category" class="form-input">
                            <option value="">Elegí</option>
                            <option value="nuevo">Nuevo</option>
                            <option value="retro">Retro</option>
                        </select>
                    </div>
                    <div class="div-select">
                        <label for="size" class="form-label">Talla:</label>
                        <select class="form-select" name="size" id="size" class="form-input">
                            <option value="">Elegí</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                        </select>
                    </div>
                </div>
                <div class="double_slot form_divs">                        
                    <div class="slot price_slot">
                        <label for="stock" class="form-label">Stock:</label>   
                        <input class="input_slot" type="text" name="stock" id="stock" value="<%= product.stock %>" required> 
                    </div> 
                    
                    <div class="slot price_slot">
                        <label for="price" class="form-label">Precio:</label>
                        <input class="input_slot" type="text" name="price" id="price" value="<%= product.price %>" required>
                    </div>
                </div>
                <div class="buttons buttons_edit">
                    <div>
                        <button class="default_button" type="submit">Guardar</button>
                    </div>
                    <div>
                        <button class="default_button reset_button" type="reset" name="eliminar" id="eliminar">Borrar Datos</button>
                    </div>
                </div>    
            </form>
        </div>
    </section>  
</main>
<%- include ('./partials/footer') %>
</body>
</html>