<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head') %>
    <body>
        <%- include ('./partials/header') %>
            <section class="bannerppal">
                <img class="hero-desktop" src="/img/hero-desktop.png" alt="img-banner-ppal">
                <img class="hero-mobile" src="/img/hero-mobile.png" alt="img-banner-ppal">
            </section>
            <main class="contenedor">
                <section class="main-container">
                    <div class="new-nav">
                        <h3>Nuevos productos</h3>
                        <a href="/products" class="see-all__button">Ver todos</a>
                    </div>
                    <div class="contenedor-productos">
                        <% nuevos.forEach(function(product){%>
                            <article class="product">
                                <a href="/products/detail/<%= product.id %>">
                                    <div class="product-img">
                                        <img src="/img/products/<%= product.image %>" alt="product-Image">
                                        <p class="precio">
                                            <span class="currency-symbol">
                                                $
                                            </span>
                                        <%= product.price %>
                                        </p>
                                    </div>
                                    <div class="product-description">
                                        <p class="product-model">
                                            <%= product.name %>
                                        </p>
                                    </div>
                                </a>
                            </article>
                        <% }) %>
                    </div>
                </section>

                <section class="main-container">
                    <div class="new-nav">
                        <h3>Retro</h3>
                        <a href="/products" class="see-all__button">Ver todos</a>
                    </div>
                    <div class="contenedor-productos">
                        <% old.forEach(function(product){%>
                            <article class="product">
                                <a href="/products/detail/<%= product.id %>">
                                    <div class="product-img">
                                        <img src="/img/products/<%= product.image %>" alt="product-Image">
                                        <p class="precio">
                                            <span class="currency-symbol">
                                                $
                                            </span>
                                        <%= product.price %>
                                        </p>
                                    </div>
                                    <div class="product-description">
                                        <p class="product-model">
                                            <%= product.name %>
                                        </p>
                                    </div>
                                </a>
                            </article>
                        <% }) %>
                    </div>
                </section>

                
            </main>
            <%- include ('./partials/footer') %>
    </body>

</html>