<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head') %>
    <body>
        <%- include ('./partials/header') %>
        <section class="bannerppal">
            <img class="hero-desktop" src="/img/hero-desktop.png" alt="img-banner-ppal">
            <img class="hero-mobile" src="/img/hero-mobile.png" alt="img-banner-ppal">
        </section>
        <main class="contenedor">
            <section class="main-container">
                <div class="new-nav">
                    <a href="#">
                        <h3>Todos los productos</h3>
                    </a>
                    </div>
                    <div class="contenedor-productos">
                        <% products.forEach(function(prod){%>
                            <article class="product">
                                <a href="/products/detail/<%= prod.id %>">
                                    <div class="product-img">
                                        <img src="/img/products/<%= prod.Image %>" alt="product-Image">
                                        <p class="precio"><span class="currency-symbol">
                                                <%= prod.Precio %>
                                            </span></p>
                                    </div>
                                    <p class="Titulo"><span>
                                            <%= prod.Titulo %>
                                        </span></p>
                                    <div class="product-description ">
                                        <p class="product-model">
                                            <%= prod.descripcion %>
                                        </p>
                                        <%= prod.Color %>
                                    </div>
                                </a>
                            </article>
                            <% }) %>
                        </section>
                    </main>
                    <%- include ('./partials/footer') %>
            </body>
        </html>