<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head') %> 
    <body>
        <%- include ('./partials/header') %>
        <main class="contenedor">
            <div class="container-form container-form-login">
                    <h4 class="hola-login">Hola<span class="punto-amarillo">.</span></h4>
                <div class="login-option">
                    <a href="/user/login" class="inicio-sesion"><P>Iniciar sesión</P></a>
                    <p>/</p>
                    <a href="/user/register"><p class="miembro-nuevo-login">¿Eres nuevo?</p></a>
                </div> 
                <form id="formLogin" action="/user/login" method="POST" class="form-inicio">
                    <div>
                        <div id="divEmail" class="div-inputs">
                            <input class="espacio-reg" type="text" name="email" id="email" placeholder="E-mail">
                            <div id="errorEmail" class="error-text"></div>
                            <% if (locals.errors && errors.email) { %>
                                <div class="error-text error-back">
                                    <%= errors.email.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div id="divPassword" class="div-inputs">
                            <input class="espacio-reg" type="password" name="password" id="password" placeholder="Contraseña">
                            <div id="errorPassword" class="error-text"></div>
                            <% if (locals.errors && errors.password) { %>
                                <div class="error-text error-back">
                                    <%= errors.password.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div>
                            <a href="#" class="menu">Recordar Mi Usuario</a>
                        </div>
                        <div class="buttons">
                            <div>
                                <button class="default_button button-login" type="submit" id="confirmar">Iniciar Sesion</button>
                            </div>
                            <a class="buttons default_button reset_button" href="/">Regresar</a>
                        </div>    
                    </div>
                </form> 
            </div>
        </main>
        <%- include ('./partials/footer') %>
    </body>
    <script src="/js/functions.js"></script>
    <script src="/js/login.js"></script>
</html>


