<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head') %> 
    <body>
        <%- include ('./partials/header') %>
        <main class="contenedor user-main">
            <div class="saludo-login container-form"> 
                <h4 class="hola-login">Hola<span class="punto-amarillo">.</span></h4>
            </div>
            <div class="container-user">
                <img class="user-image" src="/img/users/<%= user.image %>" alt="Foto Usuario">
                <div class="user-form">
                    <p class="user-name"><%= user.nombreUsuario%></p>
                    <p class="user-email"><%= user.email%></p>
                    <div class="yellow-line"></div>
                    <a class="buttons default_button reset_button" href="/user/logout">Cerrar Sesion</a>
                </div>
            </div>
        </main>
        <%- include ('./partials/footer') %>
    </body>
</html>
