<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/head') %> 
<body>
    <%- include ('./partials/header') %>
    <section class="bannerppal">
        <img class="hero-desktop" src="/img/hero-desktop.png" alt="img-banner-ppal">
        <img class="hero-mobile" src="/img/hero-mobile.png" alt="img-banner-ppal">
    </section>
    <main class="contenedor">
        <div class="container-form">
            <div class="saludo-login"> 
                <h4 class="hola-login">Hola<span class="punto-amarillo">.</span></h4>
            </div> 
            <div class="login-option">
                <a href="/user/login" class="inicio-sesion-register"><P>Iniciar sesión</P></a>
                <p>/</p>
                <a href="/user/register"><p class="miembro-nuevo">¿Eres nuevo?</p></a>
            </div> 
            <form action="/user/register" method="POST" class="form-inicio" enctype="multipart/form-data">
                <div class="registro">
                    <div>
                        <input type="text" name="nombreApellido" id="nombreApellido" placeholder="Nombre y Apellido" class="espacio-reg
                        <%- locals.errors && errors.nombreApellido ? 'is-invalid' : null
                        %> "
                        value="<%=  locals.oldData ? oldData.nombreApellido : null%>"
                        >
                        <% if (locals.errors && errors.nombreApellido) { %>
                            <div class="error-text">
                                <%= errors.nombreApellido.msg %>
                            </div>
                        <% } %>
                    </div> 
                    <div>
                        <input type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Nombre de Usuari@" class="espacio-reg 
                        <%- locals.errors && errors.nombreUsuario ? 'is-invalid' : null
                        %>
                        "
                        value="<%=  locals.oldData ? oldData.nombreUsuario : null%>">
                        <% if (locals.errors && errors.nombreUsuario) { %>
                            <div class="error-text">
                                <%= errors.nombreUsuario.msg %>
                            </div>
                        <% } %>
                    </div>
                    <div>
                        <input type="text" name="email" id="email" placeholder="E-mail" class="espacio-reg
                        <%- locals.errors && errors.email ? 'is-invalid' : null
                        %>
                        "
                        value="<%=  locals.oldData ? oldData.email : null%>">
                        <% if (locals.errors && errors.email) { %>
                            <div class="error-text">
                                <%= errors.email.msg %>
                            </div>
                        <% } %>
                    </div>
                    <div>
                        <input type="password" name="password" id="password" placeholder="Contraseña" class="espacio-reg
                        <%- locals.errors && errors.password ? 'is-invalid' : null
                        %>
                        "
                        value="<%=  locals.oldData ? oldData.password : null%>">
                        <% if (locals.errors && errors.password) { %>
                            <div class="error-text">
                                <%= errors.password.msg %>
                            </div>
                        <% } %>
                    </div>
                    <div>
                        <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Confirmar Contraseña" class="espacio-reg
                        <%- locals.errors && errors.passwordConfirm ? 'is-invalid' : null
                        %>
                        "
                        value="<%=  locals.oldData ? oldData.passwordConfirm : null%>">
                        <% if (locals.errors && errors.passwordConfirm) { %>
                            <div class="error-text">
                                <%= errors.passwordConfirm.msg %>
                            </div>
                        <% } %>
                    </div>
                    <div class="form-image">
                        <label for="image" class="form-label">Fotografia:</label>
                        <input type="file" name="image" id="image" class="image-reg">
<!--                         <% if (locals.errors && errors.image) { %>
                            <div class="error-text">
                                <%= errors.image.msg %>
                            </div>
                        <% } %> -->
                    </div>
                    <div class="buttons" >
                        <div>
                            <button class="default_button button-login" type="submit" id="enviar" class="espacio-login">Enviar</button>
                        </div>
                        <div>
                            <button class="default_button reset_button" type="reset" id="eliminar">Borrar</button>
                        </div>
                    </div>
                </div>    
            </form>  
        </div>
    </main>
    <%- include ('./partials/footer') %>
</body>
</html>