<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/head') %> 
<body>
    <%- include ('./partials/header') %>
    <main class="contenedor">
        <div class="container-form">
            <div class="saludo-login"> 
                <h4 class="hola-login">Hola<span class="punto-amarillo">.</span></h4>
            </div> 
            <div class="login-option">
                <a href="/user/login" class="inicio-sesion-register"><P>Iniciar sesión</P></a>
                <p>/</p>
                <a href="/user/register"><p class="miembro-nuevo">¿Eres nuevo?</p></a>
            </div> 
            <form id="formRegister" action="/user/register" method="POST" class="form-inicio" enctype="multipart/form-data">
                <div class="registro">
                    <div id="divName" class="div-inputs">
                        <input type="text" name="name" id="name" placeholder="Nombre y Apellido" class="espacio-reg
                        <%- locals.errors && errors.name ? 'is-invalid' : null %> "value="<%=  locals.oldData ? oldData.name : null%>">
                        <div id="errorName" class="error-text"></div>
                        <% if (locals.errors && errors.name) { %>
                            <div class="error-text error-back">
                                <%= errors.name.msg %>
                            </div>
                        <% } %>
                    </div> 
                    <div id="divUserName" class="div-inputs">
                        <input type="text" name="user_name" id="user_name" placeholder="Nombre de Usuari@" class="espacio-reg 
                        <%- locals.errors && errors.user_name ? 'is-invalid' : null %>" value="<%=  locals.oldData ? oldData.user_name : null%>">
                        <div id="errorUserName" class="error-text"></div>
                        <% if (locals.errors && errors.user_name) { %>
                            <div class="error-text error-back">
                                <%= errors.user_name.msg %>
                            </div>
                        <% } %>
                    </div>
                    <div id="divUserEmail" class="div-inputs">
                        <input type="text" name="email" id="email" placeholder="E-mail" class="espacio-reg
                        <%- locals.errors && errors.email ? 'is-invalid' : null %>" value="<%=  locals.oldData ? oldData.email : null%>">
                        <div id="errorUserEmail" class="error-text"></div>
                        <% if (locals.errors && errors.email) { %>
                            <div class="error-text error-back">
                                <%= errors.email.msg %>
                            </div>
                        <% } %>
                    </div>
                    <div id="divUserPassword" class="div-inputs">
                        <input type="password" name="password" id="password" placeholder="Contraseña" class="espacio-reg
                        <%- locals.errors && errors.password ? 'is-invalid' : null %>"
                        value="">
                        <div id="errorUserPassword" class="error-text"></div>
                        <% if (locals.errors && errors.password) { %>
                            <div class="error-text error-back">
                                <%= errors.password.msg %>
                            </div>
                        <% } %>
                    </div>
                    <div id="divUserCPassword" class="div-inputs">
                        <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Confirmar Contraseña" class="espacio-reg
                        <%- locals.errors && errors.passwordConfirm ? 'is-invalid' : null
                        %>
                        "
                        value="">
                        <div id="errorUserCPassword" class="error-text"></div>
                        <% if (locals.errors && errors.passwordConfirm) { %>
                            <div class="error-text error-back">
                                <%= errors.passwordConfirm.msg %>
                            </div>
                        <% } %>
                    </div>
                    <div>
                        <label for="avatar" class="form-label">Avatar:</label>
                        <input type="file" name="avatar" id="avatar" class="image-reg">
                        <% if (locals.errors && errors.avatar) { %>
                            <div class="error-text error-back">
                                <%= errors.avatar.msg %>
                            </div>
                        <% } %>
                    </div>
                    <div class="buttons" >
                        <div>
                            <button class="default_button button-login" type="submit" id="enviar" class="espacio-login">Enviar</button>
                        </div>
                        <a class="buttons default_button reset_button" href="/">Regresar</a>
                    </div>
                </div>    
            </form>  
        </div>
    </main>
    <%- include ('./partials/footer') %>
    <script src="/js/functions.js"></script>
    <script src="/js/register.js"></script>
</body>
</html>